.testemonials-container {
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    & .card {
        width: 30%;
        max-width: 400px;
        min-width: 270px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        & img {
            height: 200px;
        }
        & .card-body{
            padding: 20px;
        }
    }
}
.heading {
    margin-left: 5vw;
    margin-top: 50px;
    font-weight: bold;
}