
    <div class="card-carousel-container">
    <div class="card-carousel" id="base">

        
            
                        
        <div class="testemony-container">
            <div class="d-flex"> <img src="/img/index.png" alt="person" class="img" />
                <div>
                    <p class="fw-bold text-primary mb-0">Amitosh</p>
                    <p class="text-muted mb-0">Student - JEE, KVPY</p>
                </div>
            </div>
        <p class="rounded  p-4">Great Faculties , Concept Clarity , Followups &amp; Availability for Doubt Solving are the words. Thank-you all teachers.</p>
        </div>
        
        
        <div class="testemony-container">
            <div class="d-flex"> <img src="/img/index.png" alt="person" class="img" />
                <div>
                    <p class="fw-bold text-primary mb-0">Raman singh</p>
                    <p class="text-muted mb-0">parent</p>
                </div>
            </div>
        <p class="rounded  p-4">Continuous practice is where they helped my daughter. Saw considerable difference in score.</p>
        </div>
        
        
        <div class="testemony-container">
            <div class="d-flex"> <img src="/img/index.png" alt="person" class="img" />
                <div>
                <p class="fw-bold text-primary mb-0">Sudha S</p>
                <p class="text-muted mb-0">Parent</p>
                </div>
            </div>
        <p class="rounded  p-4">Will highly recommend everyone. Best part is that they give special attention.My son was enrolled for Class 12th.</p>
        </div>
        <div class="testemony-container">
            <div class="d-flex"> <img src="/img/index.png" alt="person" class="img" />
                <div>
                <p class="fw-bold text-primary mb-0">Krishnamrty</p>
                <p class="text-muted mb-0">Parent</p>
                </div>
            </div>
        <p class="rounded  p-4">My son loves the sessions and I can already see the change.I appreciate and thank all the teachers.</p>
        </div>
        <div class="testemony-container">
            <div class="d-flex"> <img src="/img/index.png" alt="person" class="img" />
                <div>
                <p class="fw-bold text-primary mb-0">Premalata</p>
                <p class="text-muted mb-0">Parent</p>
                </div>
            </div>
        <p class="rounded  p-4">Thank-you CAS. Thanks all teachers for support they provided for my son. Went for personalized coaching.</p>
        </div>
        <div class="testemony-container">
            <div class="d-flex"> <img src="/img/index.png" alt="person" class="img" />
                <div>
                <p class="fw-bold text-primary mb-0">Pritesh</p>
                <p class="text-muted mb-0">Student</p>
                </div>
            </div>
        <p class="rounded  p-4">They were there for me be it starting of the year or end of the year. Went for CBSE class 10th course.</p>
        </div>
            
</div>
</div>


