<%- include('header') %> 


    <!-- header-content -->
    <main class="header">
     
    
        <div class="d-flex justify-content-center flex-column hero-content">
            <div class="hero-title">
                <h1 class="fw-bold hero-title">Get Quality Tutoring from Experienced  Tutors<br></h1>
            </div>
            <ul class="card-items-list">
                <li class="card-item"><div class="list-style"></div>Interactive personalized classes</li>
                <li class="card-item"><div class="list-style"></div>Small student to teacher ratio</li>
                <li class="card-item"><div class="list-style"></div>Regular tests and analysis</li>
                <li class="card-item"><div class="list-style"></div>Personalized doubt solving and support</li>
            </ul>
            <div><button class="button button-primary mr-s">Register for free class</button>
            <!-- <button class="button button-secondary">Contact us</button> -->
        </div>
        </div>

<!-- carousel slider -->
        <div class=" d-flex justify-content-center">
            <div class="carousel slide" data-bs-ride="carousel" data-bs-touch="true"  id="carousel-1">
          <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000" ><img class="w-100 d-block" src="/img/carousel/c1.jpg" alt="Slide Image"></div>
              <div class="carousel-item" data-bs-interval="2000" ><img class="w-100 d-block" src="/img/carousel/c2.jpg" alt="Slide Image"></div>
              <div class="carousel-item" data-bs-interval="2000" ><img class="w-100 d-block" src="/img/carousel/c3.png" alt="Slide Image"></div>
          </div>
        <div>
            <a class="carousel-control-prev carousel-controls" href="#carousel-1" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </a>
                <a class="carousel-control-next carousel-controls" href="#carousel-1" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
          <ol class="carousel-indicators">
              <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
              <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
          </ol>
            </div>
        </div>

        

    </main>

<!-- journey to cas -->

<section class="road-map">
    <h2 class="fw-bold text-center">Journey at CAS</h2>
    <div class="journey-cards-container">

    <div class="journey-card up">
        <div class="title"> <p class="">Online Classes</p> <p class="id">1</p> </div>
        <ul class="journey-list">
            <li class="journey-list-items">small batch</li>
            <li class="journey-list-items">Interactive</li>
            <li class="journey-list-items">High attention</li>
        </ul>
        <img src="/img/bro.svg" alt="illustration" class="journey-card-img">
    </div>

    <div class="journey-card down">
        <div class="title"> <p class="">Regular tests and analysys</p> <p class="id">2</p> </div>
        <ul class="journey-list">
            <li class="journey-list-items">Regular tests</li>
            <li class="journey-list-items">Paper corrections</li>
        </ul>
        <img src="/img/amico2.svg" alt="illustration" class="journey-card-img">
    </div>

    <div class="journey-card up">
        <div class="title"> <p class="">Doubt solving</p> <p class="id">3</p> </div>
        <ul class="journey-list">
            <li class="journey-list-items">Personalized</li>
            <li class="journey-list-items">One-One</li>
            <li class="journey-list-items">Special attention</li>
        </ul>
        <img src="/img/cuate.svg" alt="illustration" class="journey-card-img">
    </div>

    <div class="journey-card down">
        <div class="title"> <p class="">Study Material</p> <p class="id">4</p> </div>
        <ul class="journey-list">
            <li class="journey-list-items">Consolidated</li>
            <li class="journey-list-items">Previous Year Sample papers</li>
            <li class="journey-list-items">e-Notes</li>
        </ul>
        <img src="/img/bro2.svg" alt="illustration" class="journey-card-img">
    </div>

    <div class="journey-card up">
        <div class="title"> <p class="">Performance reports</p> <p class="id">5</p> </div>
        <ul class="journey-list">
            <li class="journey-list-items">Regular updates</li>
            <li class="journey-list-items">Improvement Classes</li>
        </ul>
        <img src="/img/amico.svg" alt="illustration" class="journey-card-img">
    </div>

    <div class="journey-card down">
        <div class="title"> <p class="">24/7 Support</p> <p class="id">6</p> </div>
        <ul class="journey-list">
            <li class="journey-list-items">Doubt Support</li>
            <li class="journey-list-items">One-One consulting</li>
        </ul>
        <img src="/img/rafiki.svg" alt="illustration" class="journey-card-img">
    </div>


    </div>
</section>



<!-- courses-section -->
<section class="tests-section">
<h2 class="fw-bold text-center">Courses</h2>
<div class="tests-container">
    <div class="test-card">
        <p class="title">Straight Lines</p>
        <p class="subtitle">Grade-11</p>
        <!-- <input type="checkbox" name="card-show" class="card-show" onclick="toggleCard" id="card-show"> -->
        <div class="test-card-inner">
            <h3 class="test-card-title">title</h3>
            <p class="test-card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure eaque odio doloribus id unde aliquid quo veritatis architecto magnam.</p>
        </div>
    </div>
    <div class="test-card">
        <p class="title">Straight Lines</p>
        <p class="subtitle">Grade-11</p>
        <!-- <input type="checkbox" name="card-show" class="card-show" onclick="toggleCard" id="card-show"> -->
        <div class="test-card-inner">
            <h3 class="test-card-title">title</h3>
            <p class="test-card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure eaque odio doloribus id unde aliquid quo veritatis architecto magnam.</p>
        </div>
    </div>
    <div class="test-card">
        <p class="title">Straight Lines</p>
        <p class="subtitle">Grade-11</p>
        <!-- <input type="checkbox" name="card-show" class="card-show" onclick="toggleCard" id="card-show"> -->
        <div class="test-card-inner">
            <h3 class="test-card-title">title</h3>
            <p class="test-card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure eaque odio doloribus id unde aliquid quo veritatis architecto magnam.</p>
        </div>
    </div>
    <div class="test-card">
        <p class="title">Straight Lines</p>
        <p class="subtitle">Grade-11</p>
        <!-- <input type="checkbox" name="card-show" class="card-show" onclick="toggleCard" id="card-show"> -->
        <div class="test-card-inner">
            <h3 class="test-card-title">title</h3>
            <p class="test-card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea iure eaque odio doloribus id unde aliquid quo veritatis architecto magnam.</p>
        </div>
    </div>
    <div class="test-card-more d-flex align-items-center justify-content-center">
        <p class="title">View more</p>
    </div>
</div>
</section>

<!-- gallery -->
<section class="carousel-container m-auto p-3">
    <h2 class="fw-bold text-center">Our Gallery</h2>
    <div class="col d-flex justify-content-center">

        
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-2">
      <div class="carousel-inner cinner-2 overflow-hidden">
          <div class="carousel-item active" data-bs-interval="3000">
            <img class="w-100 d-block" src="https://casclasses.com/wp-content/uploads/2021/09/Add-a-little-bit-of-body-text-2-1024x384.png" alt="Slide Image"></div>
          <div class="carousel-item" data-bs-interval="3000">
            <img class="w-100 d-block" src="/img/carousel/c4.png" alt="Slide Image"></div>
          <div class="carousel-item" data-bs-interval="3000">
            <img class="w-100 d-block" src="/img/carousel/c5.png" alt="Slide Image"></div>
      </div>
    <div>
        <a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </a>
            <a class="carousel-control-next" href="#carousel-2" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
      <ol class="carousel-indicators">
          <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
          <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
      </ol>
        </div>
    </div>
</section>


<!-- teachers -->

<section class="teacher-cards-section">
<h2 class="fw-bold text-center">Our expert teachers</h2>

    <div class="card-list" >
        <div class="teacher-card card">
            <img src="/img/teachers/bhavesh.jpg" alt="lecturer Bhavesh" class="teacher-image card-image-top">
            <p class="card-title">Bhavesh S</p>
            <p class="card-subtitle">Math expert</p>
            <ul class="card-items-list">
                <li class="card-item"><div class="list-style"></div>calculus</li>
                <li class="card-item"><div class="list-style"></div>Mains and Boards</li>
                <li class="card-item"><div class="list-style"></div>NIT (Trichy)</li>
            </ul>
        </div>

        <div class="teacher-card card">
            <img src="/img/teachers/prashant.png" alt="lecturer Prashanth" class="teacher-image card-image-top">
            <p class="card-title">Prashant</p>
            <p class="card-subtitle">Physics expert</p>
            <ul class="card-items-list">
                <li class="card-item"><div class="list-style"></div>Physics</li>
                <li class="card-item"><div class="list-style"></div>Mains and Advanced</li>
                <li class="card-item"><div class="list-style"></div>IIT (kgp)</li>
            </ul>
        </div>

        <div class="teacher-card card">
            <img src="/img/teachers/Temp.png" alt="lecturer Sunita" class="teacher-image card-image-top">
            <p class="card-title">Sunita K</p>
            <p class="card-subtitle">Chemistry expert</p>
            <ul class="card-items-list">
                <li class="card-item"><div class="list-style"></div>Organic Chemistry</li>
                <li class="card-item"><div class="list-style"></div>Mains and Advanced</li>
                <li class="card-item"><div class="list-style"></div>NIT (Jalandhar)</li>
            </ul>
        </div>

        <div class="teacher-card card">
            <img src="/img/teachers/himanshu.jpg" alt="lecturer Himanshu" class="teacher-image card-image-top">
            <p class="card-title">Himanshu</p>
            <p class="card-subtitle">Physics expert</p>
            <ul class="card-items-list">
                <li class="card-item"><div class="list-style"></div>Physics</li>
                <li class="card-item"><div class="list-style"></div>Mains and Advnaced</li>
                <li class="card-item"><div class="list-style"></div>FIITJEE & ALLLEN</li>
            </ul>
        </div>


    </div>
</section>

<!-- testemonials -->
<section class="">
    <div class="container py-5">
  <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
          <p class="fw-bold mb-2">Testimonials</p>
          <h2 class="fw-bold"><strong>What People Say About us</strong></h2>
          <p class="text-muted w-lg-50">Don't take our word for it, ask our customers</p>
      </div>
  </div>
<!-- new testimonials -->
<%- include('carousel') %> 

</section>





<!-- contact section -->
<section class="contact-section" id="contact">
    <h1 class="fw-bold text-center">Contact us</h1>
    <div class="form-container m-auto">
    <h2 class="mb-4 h3">Want to have a chat with us</h2>
    <form method="post" action="/mail" class="">
    <div class="mb-3 input-container">
        <input id="name-2" class="contact-input" type="text" name="name" placeholder="Name" />
        <input id="email-2" class="contact-input" type="email" name="email" placeholder="Email" />
    </div>
    <div><button class="button button-primary" type="submit">Submit </button></div>
    </form>
    </div>
</section>



<%- include('footer') %> 